/************
*   COMMON  *
*************/
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Menlo, Monaco, Consolas, "Myanmar Text", monospace;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer{
    text-align: center;
}

.tab-content{
    margin-right: auto;
    margin-left: auto;
}

/****************
*   Catalogue   *
*****************/

.accordeon-title{
    display: inline-block;
}

.accordeon-content {
    max-height: 200px;
    overflow: scroll;
}

.accordeon-item {
    margin-top: 5px;
    /*float:left;*/
    position:relative;
    display: inline-block;
    width:100%;
}

#accordion a{
    text-decoration: none;
}

#accordion{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

/********************
*   Home/Playlist   *
*********************/

/* Common */
.horizontal-gradient{

}
.playlist-track{
    display: block;
    margin-top: 5px;
    text-align: center;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 5px;
}
    .playlist-track img{
        display: inline-block;
    }
    .playlist-track span{
        display: inline-block;
    }

/*Current track*/
#playlist-current-track{
    border:groove 2px darkorange;
}
    #playlist-current-img{
        width: 180px;
    }
    #playlist-current-text{
        font-size: xx-large;
    }

/*Previous track*/
.playlist-prev{
    text-align: center;
}
    .playlist-previous-track{
        display:inline-block;
        width: 200px;
    }
        .playlist-previous-img{
            width:60px;
        }

/*Next track*/
.playlist-next-track{

}
    .playlist-next-img{
        width: 100px;
    }
    .playlist-next-img::after{
        background-color: #000;
        opacity: 0.5;
    }
    .playlist-next-badge{
        display: inline-block;
        background-color: darkorange;
    }
/********************
*   CSS for mobile  *
*********************/

@media only screen and (max-width:760px) {
    #accordion {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
        .accordeon-img {
            height: 60px;
        }

    .playlist-track{
        width: 100%;
    }
    .playlist-track img{
        width: 33%;
    }
}