/*index.html*/
@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,400);

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}
/*header*/
#navbar{
    font-weight: 500;
}
#nav-player{
    height: 40px;
    /*width: 400px;*/
    float:left;
    margin-left: 10px;
    border-left:solid 2px rgba(249,138,69,1);
    margin-top: 5px;
    color:rgba(255,255,255,0.8);
}
#nav-player-play, #nav-player-mute{
    height: 30px;
    border: solid 3px rgba(255,255,255,0.8);
    width: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    vertical-align: middle;
}
#nav-player-play:hover, #nav-player-mute:hover{
    color: rgba(249,138,69,1);
    border-color: rgba(249,138,69,1);
}
#nav-player-play{
    padding-left: 4px;
    padding-top: 4px;
}
#nav-player-mute{
    padding-left: 5px;
    padding-top: 5px;
}
#nav-player-mute.muted{
    color:rgba(255,255,255,0.6);
    border: solid 3px rgba(255,255,255,0.6);
}
#nav-player-play.stopped{
    padding-left: 6px;
}
#nav-player-title, #nav-player-artist{
    display: inline-block;
    margin-top: 12px;
    vertical-align: top;
}
#nav-player-title{
    color: rgba(249,138,69,1);
    margin-left: 10px;
}
/*footer*/
.footer{
    text-align: center;
}

/*centrer home.html & catalogue.html*/
.tab-content{
    margin-right: auto;
    margin-left: auto;
}

/*catalogue.html*/
.accordeon-title{
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
.accordeon-img {

}
.accordeon-content {
    max-height: 200px;
    overflow: scroll;
}
.accordeon-item {
    margin-top: 5px;
    /*float:left;*/
    position:relative;
    display: inline-block;
    width:100%;
}
#accordion a{
    text-decoration: none;
}
#accordion{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.catalog-result{
    opacity: 0.6;
    border-color: #f5f5f5;
    cursor:pointer;
}
.catalog-result:hover{
    opacity: 1;
    background-color: #ddd;
}
.add-to-catalog{
    color: rgba(255,165,83,1);
    margin-top: 10px;
    font-weight: 500;
    vertical-align: middle;
}
.add-catalog-btn{
    border : solid 2px rgba(255,165,83,1);
    color: rgba(255,165,83,1);
    background-color: rgba(0,0,0,0);
    height: 21px;
    width: 21px;
    padding-left: 1px;
    padding-top: 0px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.1em;
    text-align: center;
    box-sizing: border-box;
    font-size: larger;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.add-catalog-btn>div{
    margin-top: -1px;
    line-height: 19px;
    position: relative;
}
.add-catalog-btn:hover{
    border-color: #333;
    color:#333;
}

@media only screen and (max-width:760px) {
    #accordion {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
    .accordeon-img {
        width: 33%;
    }
}

#load-text{
    text-align: center;
    font-size: x-large;
    color: darkorange;
    margin-top: 20px;
}

/*****************************
*       HOME.html            *
******************************/
@font-face {
    font-family: "Top Secret";
    src: url(../fonts/Top%20Secret.ttf);
}
html, body, .track{
    background-color: #ddd;
}
#tab_content h3 {
    border-bottom: solid 1px darkorange;
}
.track {
    font-weight: 100;
    font-size: large;
}
.white-background {
    background-color: #fff;
}
.orange-background {
    background-color: rgba(249,138,69,1);
}
.green-background {
    background-color: #67cd5d;
}
.darkgrey-background {
    background-color: #333;
}
/**
* Les musiques qui viennent d'être jouées
**/
.prev-container{
    width: 100%;
    height: 133px;
}

.prev-track{
    height: 70px;
}

.prev-img, .after-img{
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    width: 20%;
    height:70px;
    display: inline-block;
    vertical-align: top;
}
.prev-content, #after-content{
    width: 80%;
    height: 70px;
    text-align: right;
    display: inline-block;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    padding-right: 10px;
}

.track-artist, .track-title {
    position: relative;
    color: rgba(255, 165, 83, 1);
    vertical-align: middle;
    max-height: 50%;
    overflow: hidden;
}
.track-title{
    padding-top: 10px;
}
.track-artist{
    padding-top: 5px;
    color: #555;
}

/**
* Current : La music qui est en train d'être jouée
**/
#current-track{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 206px;
}
#on-air{
    vertical-align: bottom;
    position: relative;
    text-align: center;
    font-family: 'Top Secret';
    color: darkred;
    display: inline-block;
}
#current-logo {
    margin-left: 10%;
    width:10%;
    display:inline-block ;
}
#current-img{
    width: 18%;
    height: 206px;
    display: inline-block;
    border-left: solid 5px darkorange;
    -webkit-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}
#current-content{
    height: 206px;
    vertical-align: middle;
    width: 52%;
    display: inline-block;
    font-size: xx-large;
    padding-left: 10px;
    -webkit-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
    padding-right: 10px;
}
#current-text{
    text-align: left;
    height: 50%;
}
#current-title{
    color: #ffe7d4;
    display: inline-block;
    max-width: 410px;
}
#current-plus{
    text-align: center;
    width: 100%;
    height: 50%;
}
#current-play, #current-mute{
    height: 53px;
    width: 53px;
    vertical-align: top;
    margin-right: 10px;
    margin-top: 26px;
    border: solid 3px #ffe7d4;
    color: #ffe7d4;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 6px 0 0 1px;
}
#current-mute{
    padding-top: 7px;
    padding-left: 3px;
}
#current-play{
    padding-left: 0;
    padding-right: 2px;
}
#current-play:hover, #current-mute:hover{
    color:#333;
    border-color: #333;
    cursor: pointer;
}
#current-mute.muted{
    color:#333;
    border-color: #333;
}
#current-mute.muted:hover{
    border-color: #ffe7d4;
    color: #ffe7d4;
}
#current-play.stopped{
    padding-right: 0;
}
/**
* After track : La chanson qui va etre jouee juste après la current
**/
.after-track{
    display: inline-block;
    width: 60%;
    margin-top: 16px;
    background-color: rgba(255,255,255,0);
}
.after-img{
    /*width: 70px;*/
    /*border-left: solid 3px #FFF;*/
    height: 70px;
}
#after-label{
    height: 70px;
    width: 20px;
    vertical-align: top;
    display: inline-block;
    background: #000;
    color: #FFF;
}
#after-label div{
    margin-top: 28px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#after-content{
    width: 74%;
    padding-right: 10px;
}
/**
* Playlist : Mise en forme de la playlist dynamique
**/
.playlist-container{
    width: 80%;
    margin-left: 10%;
}
.search-btn{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 10px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    color: #333;
}
.search-btn:hover{
    color: rgba(249,138,69,1);
}
.search-btn.active{
    color: rgba(249,138,69,1);
}
.search-btn.active:hover{
    color: #333;
}
#playlist-search{
    margin-bottom: 10px;
    display: none;
}
#playlist-search{
    margin-bottom: 10px;
    display: none;
}
.playlist-track{
    margin-bottom: 10px;
    cursor: pointer;
}
.playlist-track:hover .playlist-vote{
    content: "+1";
    color: rgba(249,138,69,1);
    border-color: rgba(249,138,69,1);
}
.playlist-track:hover .playlist-order{
    background-color: rgba(249,138,69,1);
}
.playlist-img{
    width: 70px;
    display: inline-block;
    vertical-align: top;
}
.playlist-content{
    height: 70px;
    width: 336px;
    display: inline-block;
    text-align: right;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    padding-right: 10px;
}
.playlist-order{
    height: 70px;
    width: 20px;
    display: inline-block;
    color: #FFF;
    /*font-weight: bolder;*/
    vertical-align: top;
    text-align: center;
    padding-top: 20px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    -webkit-transition: background 500ms;
    transition: background 500ms;
}
.playlist-text{
    display: inline-block;
    height: 100%;
    max-width: 183px;

}
.playlist-title, .playlist-artist{
}
.playlist-vote{
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: solid 2px #333;
    color: #333;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
    margin: 20px 0 20px 10px;
    -webkit-transition: color 500ms, border 500ms;
    transition: color 500ms, border 500ms;
}
.plus-one,.vote-done{
    vertical-align: top;
    float: left;
    opacity: 1;
    display: inline-block;
    height: 100%;
    width: 0;
    padding-top:20px;
    text-align: center;
    color: #FFF;
    -webkit-transition: width 500ms;
    transition: width 500ms;
}
.playlist-track:hover .plus-one{
    /*opacity: 1;*/
    width: 50px;
}
.playlist-track .plus-one.active{
    /*opacity: 1;*/
    width: 50px;
}