body {
    padding-top: 50px;
    font-family: Menlo, Monaco, Consolas, "Myanmar Text", monospace;
    font-weight: bold;
}

a {
    color: grey;
}

.row {
    margin-bottom: 30px;
    text-align: center;
    margin-left: 15%;
}

.col-sm-3 {
    background-color: lavender;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F5F5F5;
    border-right: 1px solid #EEE;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -5px;
}

.col-sm-9{
    width:80%;
    margin-bottom: 30px;
}

.col-lg-12{
    margin-top: 100px;
}
