<div ng-controller="MusicPlayerController as musicPlayer">

    <div id="tab-content" class="container">
        <!--recherche des musiques -->
        <input type="text" placeholder="Search..." class="form-control" ng-model="query"/>

        <div ng-show="loading" id="load-text">Loading...</div>

        <!--afficher des tracks sous forme d'un tableau avec accordion-bootstrap-->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default accordeon-item clearfix"
                 ng-repeat="(fIndex, album) in albums | filter:query">
                <div class="panel-heading" role="tab" id={{"heading"+$index}}>
                    <h4 class="panel-title">
                        <a class="collapsed"
                           title="{{album.title}}{{' - '+album.artist}}"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           href={{"/#collapse"+$index}}
                           aria-expanded="false"
                           aria-controls={{"collapse"+$index}}>
                            <img src={{album.cover}} class="accordeon-img img-rounded">

                            <div class="accordeon-title">
                                <span>{{album.title|limitTo:25}}{{album.title.length > 25 ? '...' : ''}}</span>
                                <div>
                                    <strong>{{album.artist|limitTo:25}}{{album.artist.length > 25 ? '...' :''}}</strong>
                                </div>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id={{"collapse"+$index}} class="panel-collapse collapse accordeon-content" role="tabpanel"
                     aria-labelledby={{"heading"+$index}}>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr ng-repeat="track in filterTracks(album.id)">
                                <td>{{$index+1}}</td>
                                <td>{{track.title}}</td>
                                <td ng-if="inPlaylist()" ng-click="addToPlaylist(track.deezerID)">
                                    <span class="glyphicon glyphicon-plus add-to-playlist"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>