<div id="tab-content" class="container">
        <!--recherche des musiques -->
        <input type="text" placeholder="Search..." class="form-control" ng-model="query" ng-change="getSearchResult(query)"/>

        <div ng-show="loading" id="load-text">Loading...</div>

        <!--afficher des tracks sous forme d'un tableau avec accordion-bootstrap-->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default accordeon-item clearfix"
                 ng-repeat="(fIndex, album) in albums | orderBy:'artist'| filter:query">
                <div class="panel-heading" role="tab" id={{"heading"+$index}}>
                    <h4 class="panel-title">
                        <a class="collapsed"
                           title="{{album.title}}{{' - '+album.artist}}"
                           data-toggle="collapse"
                           data-parent="#accordion"
                           href={{"/#collapse"+$index}}
                           aria-expanded="false"
                           aria-controls={{"collapse"+$index}}>
                            <img src={{album.cover}} class="accordeon-img img-rounded">

                            <div class="accordeon-title">
                                <span>{{album.title|limitTo:22}}{{album.title.length > 21 ? '...' : ''}}</span>
                                <div>
                                    <strong>{{album.artist|limitTo:20}}{{album.artist.length > 20 ? '...' :''}}</strong>
                                </div>
                            </div>
                        </a>
                    </h4>
                </div>
                <div id={{"collapse"+$index}} class="panel-collapse collapse accordeon-content" role="tabpanel"
                     aria-labelledby={{"heading"+$index}}>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr ng-repeat="track in filterTracks(album.id)">
                                <td>{{$index+1}}</td>
                                <td>{{track.title}}</td>
                                <td ng-click="addToPlaylist(track.id)">
                                    <span ng-if="notInPlaylist(track.id)" class="glyphicon glyphicon-plus add-to-playlist"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default"
                 ng-repeat="song in searchResult | orderBy:'title'">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <div title="{{song.title}}{{' - '+song.artist}}">
                            <img src={{song.cover}} class="accordeon-img img-rounded">
                            <div class="accordeon-title">
                                <div>{{song.title+' - '+song.artist|limitTo:22}}{{song.title.length + song.artist.length > 21 ? '...' : ''}}</div>
                                <div>
                                    <strong>{{song.album|limitTo:20}}{{song.album.length > 20 ? '...' :''}}</strong>
                                </div>
                                <div class="add-to-catalog" ng-click="addToAlbums(albumID)"><span class="glyphicon glyphicon-plus add-catalog-btn"></span><span class="add-catalog-txt">Add to catalog</span></div>
                            </div>
                        </div>
                    </h4>
                </div>
            </div>
        </div>
</div>