<div id="tab_content" class="container">
    <div ng-if="previousTracks.length>0" class="prev-container">
        <h3 class="col-md-12">Previous Tracks</h3>
        <div ng-repeat="prevTrack in previousTracks" class="track prev-track col-md-4">
            <img class="prev-img" src={{prevTrack.cover}} alt="{{prevTrack.title+' - '+prevTrack.artist}}"/><!--
            --><div class="prev-content white-background">
                <div class="track-title">{{prevTrack.title}}</div>
                <div class="track-artist">{{prevTrack.artist}}</div>
            </div>
        </div>
    </div>
    <div id="current-track" class="track">
            <img id="current-logo" src="img/logo_light.png" alt="Share The Sound"/><!--
        --><img id="current-img" src="{{currentTrack.cover}}" alt="{{currentTrack.title+' - '+currentTrack.artist}}"/><!--
        --><div id="current-content" class="orange-background">
                <div id="current-text">
                    <div id="current-title" class="track-title">{{currentTrack.title}}</div>
                    <div id="on-air">{ON AIR}</div>
                    <div id="current-artist" class="track-artist">{{currentTrack.artist}}</div>
                </div>
                <div id="current-plus">
                    <a ng-click="playTracks()"><span id="current-play" class="glyphicon" ng-class="{'glyphicon-stop':isplaying,'glyphicon-play stopped':!isplaying}"></span></a>
                    <a ng-click="mute()"><span id="current-mute" class="glyphicon" ng-class="{'glyphicon-volume-off muted':ismute,'glyphicon-volume-up':!ismute}"></span></a>
                    <div ng-if="afterTrack!=null" class="track after-track">
                        <img class="after-img" src={{afterTrack.cover}} alt="{{afterTrack.title+' - '+afterTrack.artist}}"/><!--
                        --><div id="after-label"><div>next</div></div><!--
                        --><div id="after-content" class="white-background">
                                <div class="track-title">{{afterTrack.title}}</div>
                                <div class="track-artist">{{afterTrack.artist}}</div>
                            </div>
                    </div>
                </div>
        </div>
    </div>
    <div ng-if="proposedTracks.length>0" class="playlist-container">
        <div class="col-md-12">
            <h3 id="playlist-label" >
                Playlist
                <span ng-click="searchAnimate($event)" class="search-btn glyphicon glyphicon-search"></span>
            </h3>
            <!--recherche des musiques -->
            <input id="playlist-search" type="text" placeholder="Search : Artist, Song, ..." class="form-control col-md-12" ng-model="query"/>
        </div>
        <div ng-repeat="proposedTrack in proposedTracks| filter:query | orderBy:'-votes'" class="track playlist-track col-md-6">
            <div ng-click="addVote(proposedTrack.id)">
                <div class="playlist-order darkgrey-background">{{$index+1}}</div><!--
                --><img class="playlist-img" src={{proposedTrack.cover}} alt="{{proposedTrack.title+' - '+proposedTrack.artist}}"/><!--
                --><div class="playlist-content white-background">
                    <div class="plus-one" ng-class="{'orange-background':!alreadyVoted(proposedTrack.trackID),'green-background':alreadyVoted(proposedTrack.trackID),'active':recentVotedTrack==proposedTrack.id}">{{alreadyVoted(proposedTrack.trackID)?'+1':'vote'}}</div>
                    <!--<div class="vote-done green-background">done</div>-->
                    <div class="playlist-text">
                        <div class="playlist-title track-title">{{proposedTrack.title}}</div>
                        <div class="playlist-artist track-artist">{{proposedTrack.artist}}</div>
                    </div>
                    <div class="playlist-vote">{{proposedTrack.votes}}</div>
                </div>
            </div>
        </div>
    </div>
</div>