<div ng-controller="MusicPlayerController as musicPlayer">
<div id="tab_content" class="container">
    <div ng-if="previousTracks.length>0" class="prev-container">
        <h3 class="col-md-12">Previous Tracks</h3>
        <div ng-repeat="prevTrack in previousTracks" class="track prev-track col-md-4">
            <img class="prev-img" src={{prevTrack.cover}} alt="{{prevTrack.title+' - '+prevTrack.artist}}"/><!--
            --><div class="prev-content white-background">
                <div class="track-title">{{prevTrack.title}}</div>
                <div class="track-artist">{{prevTrack.artist}}</div>
            </div>
        </div>
    </div>
    <div id="current-track" class="track">
            <img id="current-logo" src="img/logo_light.png" alt="Share The Sound"/><!--
        --><img id="current-img" src="{{currentTrack.cover}}" alt="{{currentTrack.title+' - '+currentTrack.artist}}"/><!--
        --><div id="current-content" class="orange-background">
                <div id="current-text">
                    <div id="current-title" class="track-title">{{currentTrack.title}}</div>
                    <div id="on-air">{ON AIR}</div>
                    <div id="current-artist" class="track-artist">{{currentTrack.artist}}</div>
                </div>
                <div id="current-plus">
                    <a ng-click="playTracks()"><span id="current-play" class="glyphicon glyphicon-play"></span></a>
                    <a ng-click="mute()"><span id="current-mute" class="glyphicon glyphicon-volume-off"></span></a>
                    <div class="track after-track">
                        <img class="after-img" src={{afterTrack.cover}} alt="{{afterTrack.title+' - '+afterTrack.artist}}"/><!--
                        --><div id="after-label"><div>next</div></div><!--
                        --><div class="after-content white-background">
                                <div class="track-title">{{afterTrack.title}}</div>
                                <div class="track-artist">{{afterTrack.artist}}</div>
                            </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="playlist-container">
        <h3 id="playlist-label" class="col-md-12">Playlist</h3>
        <div ng-repeat="proposedTrack in proposedTracks" class="track playlist-track col-md-6">
            <div class="playlist-order">{{$index+1}}</div><!--
            --><img class="playlist-img" src={{proposedTrack.cover}} alt="{{proposedTrack.title+' - '+proposedTrack.artist}}"/><!--
            --><div class="playlist-content white-background">
                <div class="plus-one">vote</div>
                <div class="playlist-text">
                    <div class="playlist-title track-title">{{proposedTrack.title}}</div>
                    <div class="playlist-artist track-artist">{{proposedTrack.artist}}</div>
                </div>
                <div class="playlist-vote">{{proposedTrack.votes}}</div>
            </div>
        </div>
    </div>
</div>
</div>