<!--barre en haut-->
<div ng-controller="MusicPlayerController as musicPlayer">
    <div id="navbar" class="navbar navbar-inverse navbar-static-top" ng>
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">
                    Share The Sound
                </a>
            </div>

            <ul class="nav navbar-nav">
                <li ng-class="{active:isActive('/home')}"><a ng-click="getTrackInfo()" href="#/home">Playlist</a></li>
                <li ng-class="{active:isActive('/catalogue')}"><a href="#/catalogue">Catalogue</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ng-click="" href="#/"><span class="glyphicon glyphicon-asterisk"></span>
                        Changer de style</a>
                </li>
            </ul>
        </div>
    </div>
</div>